@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  overflow-y: scroll; /* scrolling is enabled */
  scrollbar-width: none; /* Firefox */
}

/* Chrome, Edge, Safari */
html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* optional: remove scrollbar background */
}

body {
  background: var(--background);
  color: var(--foreground);
  cursor: wait;
}



